@{
    ViewData["Title"] = "Home";
}


      <article class="self-intro">
        <div class="left-section">
          <h3>Hello! I'm</h3>
          <h2>
            Axl Rich, <br /><span> WAS A MOBILE PHOTOGRAPHER.</span> <br />
            I Capture Life
          </h2>
          <p>
            Back when I was a senior high school student, photography was once
            one of my hobbies. I always enjoy taking pictures with anyone or
            anything around me.
          </p>
        </div>
        <div class="right-section">
          <h1>Axl Rich</h1>
        </div>
      </article>

      <article class="socmed">
        <h3>Follow my Social Media Accounts</h3>
        <div class="socmed-buttons">
          <a class="fb-button" href="https://www.facebook.com/axlrich.fb/">
            <i class="bi bi-facebook"></i>
          </a>
          <a class="ig-button" href="https://www.instagram.com/axlrich.ig/"
            ><i class="bi bi-instagram"></i>
          </a>
          <a class="tw-button" href="https://twitter.com/axlrichtwits">
            <i class="bi bi-twitter"></i>
          </a>
        </div>
      </article>

      <article class="gallery">
        <h2>Collection</h2>
        <div class="portrait-grid">
          <div class="photo portrait-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=1J-hIdHrqGnbzo3tRw30p_wbQUzvB-9lr"
              alt="Clody Cabanlit"
              onclick="displayModal(this)"
            />
          </div>
          <div class="photo portrait-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=1oLCIDYLHsOzXe1Je4H2oVwiw8JDfrPar"
              alt="Joselito Villanueva"
              onclick="displayModal(this)"
            />
          </div>
          <div class="photo portrait-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=1VhORoiT6swER_xF6fH3Vr9NnkDOGNU8X"
              alt="Miana Mae Miparanum"
              onclick="displayModal(this)"
            />
          </div>
          <div class="photo portrait-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=1R2FrAqnn4KF5WPvOtpC3cOy0YAUL6Xua"
              alt="Our Siamese Cat"
              onclick="displayModal(this)"
            />
          </div>
          <div class="photo portrait-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=176lpjfVYudETWwztbdZ682v9iTNkjjgH"
              alt="Eric Miras"
              onclick="displayModal(this)"
            />
          </div>
          <div class="photo portrait-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=1kEH132bnyqRv6tlu81INXtTEk5WqkI_V"
              alt="Sniper 150 MXI(2016 Model)"
              onclick="displayModal(this)"
            />
          </div>
          <div class="photo portrait-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=1Ny_aqqyNj5AvcjdGVfNLq7Pzqv1Isnyi"
              alt="Macro Shot"
              onclick="displayModal(this)"
            />
          </div>
          <div class="photo portrait-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=1amy0dsSK_15ESmabqBCQDk8QUEGqUzP1"
              alt="Me(Year 2019)"
              onclick="displayModal(this)"
            />
          </div>
          <div class="photo portrait-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=1P4eFJJvuVGwWHgbJOLskMVR6o5Gfhk8K"
              alt="Milky Way Shot (Liloan, Santander, Cebu)"
              onclick="displayModal(this)"
            />
          </div>
        </div>
        <div class="landscape-grid">
          <div class="photo landscape-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=1JL9aJjRSfx1CxgNm5oBFLIczfaS6AzVh"
              alt="Cris John Vertudes"
              onclick="displayModal(this)"
            />
          </div>
          <div class="photo landscape-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=1L236wFxPr3ysOPZrmOWCq59RQfmLKag9"
              alt="Jea Hisoler Gaco"
              onclick="displayModal(this)"
            />
          </div>
          <div class="photo landscape-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=1W45kRKqJrMQj2tNVJ45aztY75ZkXTiYm"
              alt="Eden Resort's Bar"
              onclick="displayModal(this)"
            />
          </div>
          <div class="photo landscape-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=1vvih4r8woxwPD4HsXIADoy-5SfzVxz9j"
              alt="12-TVL (2019 Batch)"
              onclick="displayModal(this)"
            />
          </div>
          <div class="photo landscape-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=1iHNdXPFzFeN78krLYkKSWYYOjzbmHb5n"
              alt="Second Home"
              onclick="displayModal(this)"
            />
          </div>
          <div class="photo landscape-photo">
            <img
              src="https://drive.google.com/uc?export=view&id=1Wg3tvaNvafxBqwDP8qobZArTNdVMpMy2"
              alt="Second Home"
              onclick="displayModal(this)"
            />
          </div>
        </div>
      </article>